<header>
    <nav class="navbar  bg-secondary my-4 d-flex justify-content-around shadow px-2 py-0 animated zoomInDown animated zoomInDown">
        <div class="navbar-brand mx-auto ml-md-0 font-weight-bold px-3 animated zoomInDown"><a href="#" class="text-info ">Blue<span class="pink h2 font-weight-bold">Pink</span><span class="text-muted h4">.com</span></a></div>
        <div class="navbar" id="navbarNavAltMarkup">
          <div class="navbar-nav h5 row ">
            <a class="nav-item nav-link px-4 py-1" href="#">Home</a>
            <a class="nav-item nav-link px-4 py-1" href="#">About</a>
            <a class="nav-item nav-link px-4 py-1" href="#">Blogs</a>
            <a class="nav-item nav-link px-4 py-1" href="#">Work</a>
            <a class="nav-item nav-link px-4 py-1 ml-1" href="#">News</a>
            <a class="nav-item nav-link px-3 py-1" href="#">Contacts</a>
          </div>
        </div>
      </nav>
</header>