@import 'bootstrap/bootstrap';
@import 'mixins';
@import 'animate';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 12px;
}

body {
    min-height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: 150%;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 96%;
    
}
.basis {
    border-radius: 5px;
    background-color: rgba(87,103,127,0.4);
}
.delta {
    position: relative;
 
    &:before {
       content: '';
       top: 35%;
       left: 6%;
       width: 0;
       height: 0;
       border-style: solid;
       border-width: 6px;
       border-color: transparent transparent transparent $primary;
       position: absolute;
       @media screen and (max-width: 896px) {
        left: 3%;
     }
    }
}
.block {
    font-size: 1.1em;
    border-radius: 10px;
    border-top: 2px solid #2a3037;
    border-bottom: 1px solid #7f8792;
}
.block a{
    text-decoration: underline;
}
